[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true

[alias]
	st = status
  stu = status -u -- .
  stus = status -s -u -- .

	d = diff
	ds = diff --staged
	do = !"git diff origin/$(git rev-parse --abbrev-ref HEAD)..$(git rev-parse --abbrev-ref HEAD)"

	rs = restore --staged

  co = checkout
	cob = checkout -b
	com = checkout main
	cof = "!branch=$(git branch --format='%(refname:short)' | fzf); [ -n \"$branch\" ] && git checkout \"$branch\""
	cofd = "!f() { git for-each-ref --sort=-committerdate --format='%(refname:short)|%(committerdate:short)' refs/heads/ | column -t -s '|' | fzf --height=40% --reverse | awk '{print $1}' | xargs -r git checkout; }; f"

	a = add
	ap = add -p
	au = add -u
	addnew = "!git ls-files --others --exclude-standard | xargs git add"
	cm = commit -m
	ca = commit --amend

	l = log

	p = push
	pr = "!f() { exec az repos pr \"$@\"; }; f"
	repo = "!f() { exec az repos \"$@\"; }; f"
	
	pu = pull
	pull-prev = "!sh -c 'git pull origin $(git rev-parse --abbrev-ref @{-1})'"

[user]
	email = martin@koderiet.dev
	name = Martin Sandberg
[pull]
	rebase = false
[init]
	defaultBranch = main
