[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true

[alias]
	st = status

	d = diff
	ds = diff --staged

	rs = restore --staged

	co = checkout
	cob = checkout --branch

	a = add
	ap = add -p
	au = add -u

	cm = commit -m
	ca = commit --amend

	p = push

