@import "frappe.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

.modules-left,
.modules-center,
.modules-right {
  background: red;
}

/* rounded corners - left module section - right side */
.modules-left > widget:last-child > * { 
  border-radius: 0 1rem 1rem 0;
}

/* rounded corners - right module section - left side */
.modules-right > widget:first-child > * {
  border-radius: 1rem 0 0 1rem;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
}

#pulseaudio {
  color: @maroon;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
