@import "gruvbox-light.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
}

#waybar {
  background: transparent;
  color: @text;
}

.modules-left {
  background-color: @light2;
  border-radius: 0 1rem 1rem 0;
}

.modules-right {
  background-color: @light2;
  border-radius: 1rem 0 0 1rem;
}

.modules-center {
  /* background: red; */ /* Debug line to see space allocated by the modules */
}

.module {
  background-color: @light2;
}

/* Add 1rem spacing between modules, excluding first module in each section */
.modules-left > widget:not(:first-child) > *,
.modules-right > widget:not(:first-child) > * {
  margin-left: 1rem;
}

/* rounded corners - left module section - right side */
.modules-left > widget:last-child > * {
  border-radius: 0 1rem 1rem 0;
}

/* rounded corners - right module section - left side */
.modules-right > widget:first-child > * {
  border-radius: 1rem 0 0 1rem;
}

#workspaces {
  border-radius: 1rem;
}

#workspaces button {
  color: @dark4;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @neutral_orange;
  border-radius: 1rem;
  border: 2px solid @bright_orange;
}

#workspaces button:hover {
  color: @bright_orange;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  padding: 0.5rem 1rem;
}

#clock {
  color: @neutral_blue;
}

#battery {
  color: @neutral_green;
}

#battery.charging {
  color: @neutral_green;
}

#battery.warning:not(.charging) {
  color: @neutral_red;
}

#backlight {
  color: @neutral_yellow;
}

#backlight, #battery {
}

#pulseaudio {
  color: @neutral_purple;
}

#bluetooth {
  color: @neutral_orange;
}

#network {
  color: @neutral_aqua;
}

#network.disconnected {
  color: @neutral_red;
}

#custom-music {
  color: @bright_purple;
  border-radius: 1rem;
}

#tray {
  border-radius: 1rem;
}

#cpu {
  color: @neutral_green;
}

#cpu.low {
  color: @neutral_yellow;
}

#cpu.medium {
  color: @neutral_orange;
}

#cpu.elevated {
  color: @faded_red;
}

#cpu.critical {
  color: @neutral_red;
  animation: blink 1s ease-in-out infinite;
}

#memory {
  color: @neutral_green;
}

#memory.low {
  color: @neutral_yellow;
}

#memory.medium {
  color: @neutral_orange;
}

#memory.elevated {
  color: @faded_red;
}

#memory.critical {
  color: @neutral_red;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
